# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [4]:
#define the function

def lesser_of_two_evens(a,b):

    #check if two numbers is even

    if a % 2 == 0 and b % 2 == 0:

#Check the less number:
        if a <  b:
            result=b
        else:
           result=a
        print('the two number are even and ',result,'is the smallest')

#Two numbers are not even 
    else:  

#check the greater number         
        if a > b:
            result=a
        else:
           result=b

        print('one number or both are odd and ',result,'is the grater')

In [5]:
# Check
lesser_of_two_evens(2,4)

the two number are even and  4 is the smallest

In [6]:
# Check
lesser_of_two_evens(2,5)

one number or both are odd and  5 is the grater

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [60]:
#define the function

def animal_crackers(text):

#split each word in string
  
    word=text.split()

#make intial value to result

    result=False

#Check if if both words begin with same letter

    if word[0][0]==word[1][0]:

        result=True
        
#return the result        
    return result

In [61]:
# Check
animal_crackers('Levelheaded Llama')

True

In [62]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [17]:
#define the function

def makes_twenty(n1,n2):

#make intial value to result

    result=False

#Check if  the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    if n1 == 20 or n2 == 20:
        result=True
    elif n1+n2 == 20:
        result=True

#return the result

    return result

In [18]:
# Check
makes_twenty(20,10)

True

In [19]:
# Check
makes_twenty(2,3)

False

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [40]:
#define the function

def old_macdonald(name):

#capitalizes the first and fourth letters of a name
   first= name[0].upper()
   forth= name[3].upper()
   length=len(name)

#print the output
   print(first+name[1:3]+forth+name[4:length])

In [41]:
# Check
old_macdonald('macdonald')

Macdonald

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [47]:
#define the function

def almost_there(n):

#make intial value to result
   
    result=False

#check if n is within 10 of either 100 or 200

    if n in range(10,105):
        result=True
    if n in range(200,300):  
        result=True
        
#return the output
    return result

In [48]:
# Check
almost_there(104)

True

In [49]:
# Check
almost_there(150)

False

In [50]:
# Check
almost_there(209)

True

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [56]:
#Define the function

def has_33(nums):

#make intial value to result
     
  result=False

  L=len(nums)
#make loop to check no.3 in range
  for i in range(L-1):
 
    if nums[i:i+2] == [3,3]:
      result=True

 #return the output     
  return result

In [57]:
# Check
has_33([1, 3, 3])

True

In [58]:
# Check
has_33([1, 3, 1, 3])

False

In [59]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [70]:
#check the function 

def paper_doll(text):

#make intial string value
    result=""
 #make loop to check no.3 in range   
    for letter in text:
 #    for every character in the original there are three characters
         result+=letter*3
#return the result
    return result

In [71]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [ ]:
# Check
paper_doll('Mississippi')

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [114]:
#define the function
def blackjack(a,b,c):
#  if their sum is less if the sum (even after adjustment) exceeds 21, return 'BUST'
#  than or equal to 21, return their sum.
# If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally,  
    if a+b+c < 21:
        return a+b+c
    
    elif a+b+c == 21 or (a or b or c == 11):    
        return a+b+c-10
    
    elif a+b+c > 21 or a+b+c % 2==0:    
        
        return 'BUST'

### Write a function to count the number 4 in a given list.

In [94]:
# Check
blackjack(5,6,7)

18

In [95]:
# Check
blackjack(9,9,9)

17

In [96]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [ ]:
def summer_69(arr):

In [ ]:
# Check
summer_69([1, 3, 5])

In [ ]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

In [ ]:
# Check
summer_69([2, 1, 6, 9, 11])

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [99]:
#define the function

def spy_game(nums):
#make loop 1 to check the first item     
    for num1 in range(0,len(nums)):
        if nums[num1] == 0:
#make loop 2 to check the second item              
            for num2 in range(num1+1,len(nums)):
                if nums[num2] == 0:
#make loop 3 to check the Thierd item                       
                    for num3 in range(num2+1,len(nums)):
                        if nums[num3] == 7:
                            return True
                else:
                    return False

In [100]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [101]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [102]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [112]:
#define the function
def count_primes(num):
#make loop  to check if number divisable by any number from 2 to n
    for n in range(2,num+1):
        prime=n
        for i in range(2,n):
            if(n%i == 0):
                prime=n/4
    return prime

In [113]:
# Check
count_primes(100)

25.0

## Great Job!